body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #444;
    line-height: 1.8;
}

.blog{
    margin: auto;
    max-width: 800px;
    color: #00008B;
}

h1{
    font-size: 50px;
    font-weight: 300;
    color: #00008B;
    text-align: center;
}

.card{
    padding: 30px;
    margin-bottom:30px;
    background-color: #87CEFA;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: #00008B;
}

form{
    padding: 30px;
    margin:auto;
    background-color: #00008B;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    border-radius: 15px;
}

input, textarea {
    padding: 10px;
    border: 5px solid #ggg;
    margin-bottom: 10px;
    box-sizing: border-box
    width: 100%;
    border-radius: 10px;
    color: #7FFFD4;
}

button{
    background-color: #2196F3;
    color: white;
    padding: 20 px 20 px;
    border: none;
    border-radius: 5 px;
    cursor: pointer;
}

.buttons{
    text-align: right;
    margin-right: 50px;
}

.btn{
    color: gray;
    text-decoration: none;
    margin-right: 15px;
}

.post{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.author{
    text-align: right;
}
